:root {
  --background: #b8cbd0;
  --color: #173c4d;
}

[data-theme="darkTheme"] {
  --background: #173c4d;
  --color: #b8cbd0;
}

body {
  background: var(--background);
  color: var(--color);
  margin: 0;
  padding: 0;
}
